/build/
/tmp/
/.venv/
__pycache__/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.log
*.out
*.run.xml
*.toc
*.acn
*.acr
*.alg
*.synctex.gz
*.zip
*.pdf
!legacy/**/*.pdf
Test_Daten/
*.mat
!papers/*/figures/*.pdf
!_archive/composite_papers/*/figures/*.pdf
